### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Kotlin
.kotlin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

# Исключения для IDEA
!.idea/codeStyles/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
!.idea/runConfigurations/

### macOS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

### Windows ###
Thumbs.db
Desktop.ini

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

### Logs ###
logs/
*.log